[mysqld]
ndbcluster
ndb-connectstring={{ management_host }}       # IP address for server management node
default_storage_engine=ndbcluster     # Define default Storage Engine used by MySQL
 
[mysql_cluster]
ndb-connectstring={{ management_host }}      # IP address for server management node




